body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(201, 240, 130);
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}


input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 2px #ccc;
    
}

button {
    padding: 10px;
    background-color: #c05c6d;
    
}


li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
}